langchain==0.3.27
langchain-experimental>=0.0.64
langchain-ollama
langchain-openai
langchain-google-genai==2.0.10
langchain-community

openai
google-generativeai

pandas
chromadb==1.3.4
pypdf
streamlit
